.container {
    /*text-align: center;*/
    display: inline;
}

.inline {
    display: inline;
}

#topSection {
    /* background-color: turquoise; */
    background: url(images18.jpg);
    background-color: darkcyan;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 0;
    color: white;
}

#logo {
    background-color: rgb(5, 19, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding-left: 20px;*/
    color: rgb(29, 207, 207);
}

#signup {
    text-align: center;
    background-color: rgb(5, 19, 44);
    color: rgb(29, 207, 207);
}